# PDF généré
*.pdf

# Exception : logo nécessaire à la compilation
!assets/logo_hesso.pdf

# Python
__pycache__/
*.pyc

# Dossiers de test pour les programmes C
programme/test/
programme/tests/

.vscode
.codex